@import "./scss/variables.scss";

.has-error {
    color: $error-red;
    .form-control {
        border-color: $error-border-red;
        &:focus {
            box-shadow: $error-box-shadow;
        }
    }

    .help-block {
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
    }
}
  